<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/Rinne Sharingan.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{errormessage}}
        <img src="/img/Saitama OK.jpg">
    </div>
    {{>footer}}
</body>

</html>